.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
  color: white;
}

.names {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
}

.discription {
  color: #bbb;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.time {
    font-weight: 300;

  color: #fff;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 16px */
  align-self: flex-end;
}
