.container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.others {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
