.contaienr {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

video {
  width: 100%;
  min-height: 10px;
  background-color: gray;
}
